body {
	font-family: Lucida Console;
}
.mearrepenti {
	background: hsla(30, 100%, 50%, 0.2);
}
.nano {
	display: block;
	width: 75%;
	margin: 1% auto;
}
.donaciones {
	background: url("fondos/fondo1.jpeg") no-repeat center;
	background-size: cover;
}
.medepositas {
	background: hsla(360, 100%, 50%, 0.2);
	margin: 1%;
	padding: 1%;
	border-radius: 5px;
	font-size: 16px;
}
.medepositas p {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff
}
.barra {
	height: 40px;
	background: hsla(360, 100%, 50%, 0.2);
	margin: 1% 0%;
	text-align: center;
}
.barra img {
	height: 40px;
}
.barra nav {
	display: inline;
	margin: 0% 2%;
}
@media (min-width: 400px max-width: 600px) {
.barra {
	height: 25px;
}
.barra img {
	height: 23px;
}
.logo {
	display: none;
}
.donaciones {
	background: url("fondos/fondo4.jpeg") no-repeat center;
	background-size: cover;
}
.medepositas {
	height: 50%;
}
}
@media (max-width: 400px) {
.barra {
	height: 20px;
}
.barra img {
	height: 18px;
}
.logo {
	display: none;
}
.donaciones {
	background: url("fondos/fondo4.jpeg") no-repeat center;
	background-size: cover;
}
.medepositas {
	height: 50%;
}
}
